<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
	span:HOVER{
		color: red;
	}
	span{
		cursor:pointer;
	}
</style>
<body>
<p>用户名:<input type="text"></p>
<h1><span>room</span></h1>
<div th:include="include :: footer"></div>
<script type="text/javascript">
    	$(function() {
		$("span").click(function(){
			var uname = $("input").val();
			if(uname == ""){
				alert("请先输入用户名");
			}else {
				var roomid = $(this).html()
				location.href="/home/room?uname="+uname+"&roomid="+roomid;
			}
		})
	})
</script>
</body>
</html>